.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.about .left{
    margin: auto;
    padding: 1rem;
  
    

    
}

.about .left p{
    margin: 0.6rem 0;
    width: 100%;
    color: rgb(110, 109, 109);
    font-weight: 600;
}

.about .left h4{
    color: red;
    margin: 0.4rem 0;
}


.about .left h1{
    margin: 0.4rem 0;
    color: green;
}

.about .left .btn{
    margin-top: 2rem;
    width: 30%;
}

